/*css代码部分*/
*{
	margin: 0px;
	padding: 0px;
}
#content{
	/*使容器居中显示*/
	margin:100px;
	border: 2px solid gray;
	/*定义绝对位置*/
	position: absolute;
}
ul{ 
	/*定义相对位置，相对于#content*/
	position: relative;
	width: 1200px; 
	margin: 0 auto; 
} 
ul li{ 
	float: left; 
	width: 250px; 
	list-style: none; 
	margin: 20px; 
} 
ul li div{ 
	width: 250px; 
	margin-bottom: 2px; 
	padding: 10px; 
	border-radius: 5px; 
	box-shadow: 2px 2px 10px #919B9C; 
} 
ul li img{ 
	width: 100%; 
	margin-bottom: 20px; 
} 
ul li p{ 
	font-family: "microsoft yahei"; 
	font-size: 14px; 
	text-align: center;
} 
ul li a{
	text-align: center;
	text-decoration: none;
	color: #000;
	padding-bottom: 4px;
}
input{
	margin: 20px;
	cursor: pointer;
	margin-left: 400px;
	text-align: center;
	width: 400px;
	height: 30px;
	background-color: gray;
	border: 0px;
	color: #fff;
}
input:hover{
	border: 1px solid blue;
	box-shadow: 3px 3px 10px #919B9C; 
}
#load{
	width: 50px;
	height: 50px;
	background:#000 url(../img/loader.gif) no-repeat 45% 45%;
	position: absolute;
/*	margin-top: 150px;
	margin-left: 50px;*/
	bottom: 150%;
	left: 45%;

	z-index: 100;
}
	